<!DOCTYPE html>
<html data-ng-app='CV'>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@TextosPaginas.TituloAplicacao</title>
    <link rel="icon" type="image/gif/png" href="~/Library/css/icon.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAlUpOpwZWS_ZGlMAtB6lY76oy1QBWk97g&libraries=placeses,visualization,drawing,geometry,places"></script>

</head>
<body class="hold-transition skin-blue-light sidebar-mini" ng-cloak>

    <div class="wrapper" ng-controller="AccountCtrl as account" ng-init="account.load()">
        <!--Caso logado-->
        <div>


        </div>
        <header class="main-header">
            <!-- Logo -->
            <a href="/#/home" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>@TextosPaginas.TituloAplicacaoReduzido</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="~/Library/css/Logo.png"/></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" ng-show="$root.isLogged && account.ViagemSelecionada()">
                    <span class="sr-only"></span>
                </a>
                <div class="navbar-custom-menu" style="margin-right:20px">
                    <ul class="nav navbar-nav">
                        <li>
                            <a ui-sref="Rankings()">
                                <i class="fa fa-bar-chart fa-fw"></i>
                                <span class="hidden-xs">@TextosPaginas.Menu_Ranking</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav" ng-show="$root.isLogged">
                        <li>
                            <a ui-sref="Amigo()">
                                <i class="fa fa-users fa-fw"></i>
                                <span class="hidden-xs">@TextosPaginas.Menu_Amigos</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                                <i class="fa fa-bell fa-fw"></i>
                                <span class="hidden-xs">@TextosPaginas.Menu_Alertas</span>
                                <span class="alert-danger" ng-bind="account.totalAlertas" ng-show="account.totalAlertas > 0"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="alerta in account.alertas track by alerta.IdentificadorAlerta" ng-show="account.totalAlertas > 0">
                                    <a href="javascript:void(0)" ng-click="account.AbrirAlerta(alerta.IdentificadorAlerta, alerta.TipoAlerta)">{{alerta.MensagemAlerta}}</a>

                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                                <i class="fa fa-plane fa-fw"></i>
                                <span ng-bind="account.user.NomeViagem" ng-show="account.user.NomeViagem"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="viagem in account.user.Viagens track by viagem.Identificador" ng-show="account.user.Viagens">
                                    <a href="javascript:void(0)" ng-click="account.SelecionarViagem(viagem.Identificador)">{{viagem.Nome}}</a>
                                </li>
                                <li><a ui-sref="Viagem()">@TextosPaginas.Menu_EscolherOutraViagem</a></li>
                                <li><a ui-sref="ViagemEdicao()">@TextosPaginas.Menu_CriarViagem</a></li>
                            </ul>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <span>
                                    <i class="fa fa-user fa-fw"></i>
                                    <span class="hidden-xs" ng-bind="account.user.PrimeiroNome"></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img ng-src="{{account.user.ImageURL || trustAsResourceUrl}}" />
                                    <p>
                                        <span ng-bind="account.user.Nome"></span>
                                        <small><span ng-bind="account.user.Mail" /></small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                    </div>
                                    <div class="pull-right">
                                        <a href="javascript:void(0)" class="btn btn-default btn-flat" ng-click="account.logout()">@TextosPaginas.Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>

                    <div class="nav navbar-nav" ng-controller="LoginCtrl as login" ng-init="login.init()" ng-show="!$root.isLogged " style="width:150px;">
                        <div class="box">

                            <form name="form" ng-submit="login.login(form)">


                                <div>
                                    <button type="submit" class="btn btn-facebook btn-block btn-flat">@TextosPaginas.Login_Logar</button>
                                </div><!-- /.col -->


                            </form>
                            <div class="overlay" ng-show="login.loading">
                                <i class="fa fa-refresh fa-spin text-gray"></i>
                            </div>

                        </div>
                    </div>
                </div>


            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar ng-hide" ng-show="$root.isLogged  && account.ViagemSelecionada()">
            <section class="sidebar">
                <ul class="nav sidebar-menu" id="side-menu">

                    <li class="treeview">
                        <a ui-sref="home()"><i class="fa fa-home fa-fw"></i> <span> @TextosPaginas.Home_Dashboard</span></a>
                    </li>
                    <li class="treeview" ng-if="account.PermiteEdicao()">
                        <a href="javascript:void(0)"><i class="fa fa-gears fa-fw"></i><span>@TextosPaginas.Home_Controle</span><i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="nav nav-second-level treeview-menu">
                            <li><a ui-sref="AporteDinheiro()"><span>@TextosPaginas.Home_AporteDinheiro</span></a></li>
                            <li><a ui-sref="Atracao()"><span>@TextosPaginas.Home_Atracao</span></a></li>
                            <li><a ui-sref="CalendarioPrevisto()"><span>@TextosPaginas.Home_CalendarioPrevisto</span></a></li>
                            <li><a ui-sref="Carro()"><span>@TextosPaginas.Home_Carro</span></a></li>
                            <li><a ui-sref="CidadeGrupo()"><span>@TextosPaginas.Home_CidadeGrupo</span></a></li>
                            <li><a ui-sref="Comentario()"><span>@TextosPaginas.Home_Comentario</span></a></li>
                            <li><a ui-sref="CotacaoMoeda()"><span>@TextosPaginas.Home_CotacaoMoeda</span></a></li>
                            <li><a ui-sref="Foto()"><span>@TextosPaginas.Home_Foto</span></a></li>
                            <li><a ui-sref="Gasto()"><span>@TextosPaginas.Home_Gasto</span></a></li>
                            <li><a ui-sref="Hotel()"><span>@TextosPaginas.Home_Hotel</span></a></li>
                            <li><a ui-sref="ListaCompra()"><span>@TextosPaginas.Home_ListaCompra</span></a></li>
                            <li><a ui-sref="Loja()"><span>@TextosPaginas.Home_Loja</span></a></li>
                            <li><a ui-sref="Refeicao()"><span>@TextosPaginas.Home_Refeicao</span></a></li>
                            <li><a ui-sref="VerificarSugestao()"><span>@TextosPaginas.Home_VerificarSugestao</span></a></li>
                            <li><a ui-sref="ViagemEdicao({ id: account.user.IdentificadorViagem})"><span>@TextosPaginas.Home_Viagem</span></a></li>
                            <li><a ui-sref="ViagemAerea()"><span>@TextosPaginas.Home_ViagemAerea</span></a></li>
                            <li ng-if="account.Aberto()"><a href="javascript:void(0)" ng-click="account.TrocarSituacaoViagem()"><span>@TextosPaginas.Home_FecharViagem </span></a></li>
                            <li ng-if="!account.Aberto()"><a href="javascript:void(0)" ng-click="account.TrocarSituacaoViagem()"><span>@TextosPaginas.Home_AbrirViagem </span></a></li>

                        </ul>
                    </li>
                    <li class="treeview" ng-if="!account.PermiteEdicao()">
                        <a href="javascript:void(0)"><i class="fa fa-comment-o fa-fw"></i><span>@TextosPaginas.Home_Sugestao</span><i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="nav nav-second-level treeview-menu">
                            <li><a ui-sref="PedidoCompra()"><span>@TextosPaginas.Home_PedidoCompra</span></a></li>
                            <li><a ui-sref="Sugestao()"><span>@TextosPaginas.Home_Sugestao</span></a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0)"><i class="fa fa-bars fa-fw"></i><span>@TextosPaginas.Home_Consultas</span><i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="nav nav-second-level treeview-menu">
                            <li  ng-if="account.PermiteEdicao()"><a ui-sref="ConsultarExtratoMoeda()"><span>@TextosPaginas.Home_ExtratoMoeda</span></a></li>
                            <li ng-if="account.PermiteEdicao()"><a ui-sref="ConsultarAcertoConta()"><span>@TextosPaginas.Home_AcertoConta</span></a></li>
                            <li ng-if="account.VerCustos()"><a ui-sref="ConsultarRelatorioGasto()"><span>@TextosPaginas.Home_RelatorioGastos</span></a></li>
                            <li ><a ui-sref="ConsultarTimeline()"><span>@TextosPaginas.Home_Timeline</span></a></li>
                            <li><a ui-sref="ConsultarLocaisVisitados()"><span>@TextosPaginas.Home_LocaisVisitados</span></a></li>
                            <li><a ui-sref="ConsultarFoto()"><span>@TextosPaginas.Home_Foto</span></a></li>
                            <li><a ui-sref="ConsultarCalendarioRealizado()"><span>@TextosPaginas.Home_CalendarioRealizado</span></a></li>

                        </ul>
                    </li>
                </ul>

            </section>
        </aside>

        <!--<div ng-class="{'content-wrapper':$root.isLogged}">-->
        <div class="content-wrapper" ng-class="{'nomargin':$root.isLogged == false ||  !account.ViagemSelecionada()}">
            <div error-manager></div>
            <div data-ui-view>
            </div>
        </div>
        @RenderBody()

        <!--<div class="navbar navbar-fixed-bottom">-->
        <!--footer class="main-footer" ng-class="{'nomargin':$root.isLogged == false}">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
        </footer-->
        <!--</div>-->

    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src='@Url.Content("~/signalr/hubs")'></script>

    @Scripts.Render("~/bundles/angular")
    @Scripts.RenderFormat(
    "<script type=\"text/javascript\" src=\"{0}\" charset=\"ISO-8859-1\"></script>",
    "~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>