<section class="content-header">
    <h1>
        @TextosPaginas.Home_Amigo

    </h1>
    <ol class="breadcrumb">

        <li>@TextosPaginas.Home_Menu</li>
        <li class="active">@TextosPaginas.Home_Amigo</li>
    </ol>

</section>
<!-- Main content -->
<section class="content" ng-init="itemAmigo.load()">
    <!-- Default box -->
    <!-- general form elements -->

    <ul class="nav nav-tabs">
        <li  ng-class="{'active': !itemAmigo.AbrirAprovacao}"><a data-toggle="tab" data-target="#anigos" style="cursor:pointer" ng-click="itemAmigo.AtualizarGrid()">@TextosPaginas.Menu_Amigos</a></li>
        <li ng-class="{'active': itemAmigo.AbrirAprovacao}"><a data-toggle="tab" data-target="#requisicoes" style="cursor:pointer" ng-click="itemAmigo.AtualizarGrid()">@TextosPaginas.Menu_RequisicoesPendentes</a></li>
    </ul>

    <div class="tab-content">
        <div id="anigos" class="tab-pane fade in " ng-class="{'active': !itemAmigo.AbrirAprovacao}">

            <div class="box box-primary">
                <div class="overlay" ng-show="itemAmigo.loading">
                    <i class="fa fa-refresh fa-spin text-gray"></i>
                </div>

                <form role="form" ng-submit="itemAmigo.filtraDado()">
                    <div class="box-body">
                        <div class="row">


                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <a role="button" class="btn btn-primary " title="@TextosPaginas.Adicionar" ui-sref="AmigoEdicao({filtro:itemAmigo.filtroAtualizacao})" ng-if="itemAmigo.PermiteInclusao">
                            <span class="fa fa-plus" aria-hidden="true"></span>
                        </a>
                      

                    </div>
                </form>
            </div><!-- /.box -->



            <div class="box">
                <div class="overlay" ng-show="itemAmigo.loading">
                    <i class="fa fa-refresh fa-spin text-gray"></i>
                </div>
                <div class="box-body table-responsive">
                    <div class="gridStyle" ui-grid="itemAmigo.gridOptions" ></div>


                </div>
            </div>
        </div>
        <div id="requisicoes" class="tab-pane fade in" ng-class="{'active': itemAmigo.AbrirAprovacao}">
            <div class="box">
                <div class="overlay" ng-show="itemAmigo.loadingAprovacao">
                    <i class="fa fa-refresh fa-spin text-gray"></i>
                </div>
                <div class="box-body table-responsive">
                    <div class="gridStyle" ui-grid="itemAmigo.gridOptionsAprovar" ></div>


                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="modalDelete.html">
        <div class="modal-header">
            <span>{{vmDelete.MensagemConfirmacao}}</span>
        </div>
        <div class="modal-body">
            <button type="button" class="btn btn-info btn-lg btn-block" ng-click="vmDelete.delete()">@TextosPaginas.Sim</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-click="vmDelete.close()">@TextosPaginas.Nao</button>
        </div>
        <div class="modal-footer hidden-lg hidden-md">
            <button type="button" class="btn btn-default btn-lg btn-block" ng-click="vmDelete.back()">@TextosPaginas.Voltar</button>
        </div>
    </script>


    <script type="text/ng-template" id="NewFooterTemplate.html">

        <div role="contentinfo" class="ui-grid-pager-panel" ui-grid-pager ng-show="grid.options.enablePaginationControls">

            <div role="navigation" class="ui-grid-pager-container">
                <div role="menubar" class="ui-grid-pager-control">
                    <button type="button" role="menuitem" class="ui-grid-pager-first" ui-grid-one-bind-title="aria.pageToFirst" ui-grid-one-bind-aria-label="aria.pageToFirst" ng-class="{'btn':true, 'btn-primary':true}" ng-click="pageFirstPageClick()" ng-disabled="cantPageBackward()">
                        <div ng-class="grid.isRTL() ? 'last-triangle' : 'first-triangle'"><div ng-class="grid.isRTL() ? 'last-bar-rtl' : 'first-bar'"></div></div>
                    </button>
                    <button type="button" role="menuitem" class="ui-grid-pager-previous  btn btn-primary" ui-grid-one-bind-title="aria.pageBack" ui-grid-one-bind-aria-label="aria.pageBack" ng-click="pagePreviousPageClick()" ng-disabled="cantPageBackward()"><div ng-class="grid.isRTL() ? 'last-triangle prev-triangle' : 'first-triangle prev-triangle'"></div></button>
                    <input type="number" ui-grid-one-bind-title="aria.pageSelected" ui-grid-one-bind-aria-label="aria.pageSelected" class="ui-grid-pager-control-input" ng-model="grid.options.paginationCurrentPage" min="1" max="{{ paginationApi.getTotalPages() }}" required> <span class="ui-grid-pager-max-pages-number" ng-show="paginationApi.getTotalPages() > 0"><abbr ui-grid-one-bind-title="paginationOf">/</abbr> {{ paginationApi.getTotalPages() }}</span>
                    <button type="button" role="menuitem" class="ui-grid-pager-next  btn btn-primary" ui-grid-one-bind-title="aria.pageForward" ui-grid-one-bind-aria-label="aria.pageForward" ng-click="pageNextPageClick()" ng-disabled="cantPageForward()"><div ng-class="grid.isRTL() ? 'first-triangle next-triangle' : 'last-triangle next-triangle'"></div></button>
                    <button type="button" role="menuitem" class="ui-grid-pager-last  btn btn-primary" ui-grid-one-bind-title="aria.pageToLast" ui-grid-one-bind-aria-label="aria.pageToLast" ng-click="pageLastPageClick()" ng-disabled="cantPageToLast()"><div ng-class="grid.isRTL() ? 'first-triangle' : 'last-triangle'"><div ng-class="grid.isRTL() ? 'first-bar-rtl' : 'last-bar'"></div></div></button>
                </div>
            </div>
            <div class="ui-grid-pager-count-container"><div class="ui-grid-pager-count"><span ng-show="grid.options.totalItems > 0">{{showingLow}} <abbr ui-grid-one-bind-title="paginationThrough">-</abbr> {{showingHigh}} {{paginationOf}} {{grid.options.totalItems}} {{totalItemsLabel}}</span></div></div>
        </div>
    </script>


    <script type="text/ng-template" id="BotoesGridTemplate.html">

        <div class="ngCellText hidden-xs">
            <button type="button"  class="btn btn-success small"  ng-click="grid.appScope.modalPopupTriggerAprovacao(row.entity, $index,'@TextosPaginas.Amigo_ConfirmarAprovacao', grid.appScope.AprovarRequisicao)"><span class="fa fa-check" aria-hidden="true"></span></button>
            <button type="button"  class="btn btn-danger small" ng-click="grid.appScope.modalPopupTriggerAprovacao(row.entity, $index,'@TextosPaginas.Amigo_ConfirmarReprovacao', grid.appScope.ReprovarRequisicao)"><span class="fa fa-close" aria-hidden="true"></span></button>

        </div>


    </script>

    <script type="text/ng-template" id="CheckSeguidorTemplate.html">
        <input type="checkbox" ng-checked="row.entity.Seguidor" class="checkbox" ng-click="grid.appScope.AlterarSeguidor(row.entity, $index)"/>
    </script>

    <script type="text/ng-template" id="CheckSeguidoTemplate.html">
        <input type="checkbox" ng-checked="row.entity.Seguido" class="checkbox" ng-click="grid.appScope.AlterarSeguido(row.entity, $index)" />

    </script>
</section><!-- /.content -->