<section class="content-header">
    <h1>
        @TextosPaginas.Home_Carro
        <small>@TextosPaginas.Carro_Manutencao</small>

    </h1>
    <ol class="breadcrumb">
        
        <li>@TextosPaginas.Home_Menu</li>
        <li><a ui-sref="Carro({filtro:itemCarroEdit.filtroConsulta})">@TextosPaginas.Home_Carro</a></li>
        <li class="active">@TextosPaginas.Carro_Manutencao</li>
    </ol>

</section>
<!-- Main content -->
<section class="content" ng-init="itemCarroEdit.load()">
    <!-- Default box -->
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="overlay" ng-show="itemCarroEdit.loading">
            <i class="fa fa-refresh fa-spin text-gray"></i>
        </div>

        <form role="form" ng-submit="itemCarroEdit.save(form)" name="form" novalidate>
            <div class="box-body">

                 <div class="row" ng-show="itemCarroEdit.messages.length > 0">
                     <div class="col-md-12">
                         <div class="callout callout-danger">
                             <h4>@TextosPaginas.Geral_ValidarErros</h4>
                             <ul>
                                 <li ng-repeat="erro in itemCarroEdit.messages">
                                     <span ng-bind="erro.Mensagem"></span>
                                 </li>
                             </ul>

                         </div>
                     </div>

                </div>
                <div class="row">
					<div class="form-group col-md-6"  ng-class="{ 'has-error':itemCarroEdit.CamposInvalidos.IdentificadorViagem}">
					<label>@TextosPaginas.Carro_IdentificadorViagem</label>
					<select ng-model="itemCarroEdit.itemViagem" class="form-control" ng-options="obj.Nome for obj in itemCarroEdit.ListaViagem track by obj.Identificador">
						<option value="">@TextosPaginas.Selecione</option>
					</select>
					</div>
					<div class="form-group col-md-6"  ng-class="{ 'has-error':itemCarroEdit.CamposInvalidos.Locadora}">
					<label>@TextosPaginas.Carro_Locadora</label>
					<input type="text" class="form-control" ng-model="itemCarroEdit.itemCarro.Locadora" maxlength="50"  empty-to-null >
					</div>
					<div class="form-group col-md-6"  ng-class="{ 'has-error':itemCarroEdit.CamposInvalidos.Modelo}">
					<label>@TextosPaginas.Carro_Modelo</label>
					<input type="text" class="form-control" ng-model="itemCarroEdit.itemCarro.Modelo" maxlength="50"  empty-to-null >
					</div>
					<div class="form-group col-md-6"  ng-class="{ 'has-error':itemCarroEdit.CamposInvalidos.KM}">
					<label><input type="checkbox" ng-model="itemCarroEdit.itemCarro.KM" >@TextosPaginas.Carro_KM</label>
					</div>
					<div class="form-group col-md-6"  ng-class="{ 'has-error':itemCarroEdit.CamposInvalidos.Alugado}">
					<label><input type="checkbox" ng-model="itemCarroEdit.itemCarro.Alugado" >@TextosPaginas.Carro_Alugado</label>
					</div>
                                   

                </div>
             
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button type="button" class="btn btn-primary " title="@TextosPaginas.Voltar" ui-sref="Carro({filtro:itemCarroEdit.filtroConsulta})">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                </button>
                <button type="submit" class="btn btn-primary  pull-right">
                    <span class="fa fa-save" aria-hidden="true"></span> @TextosPaginas.Geral_Salvar
                </button>

            </div>
        </form>
    </div><!-- /.box -->





</section><!-- /.content -->