<div class="modal-header">
    <span>@TextosPaginas.Compra_Manutencao</span>
</div>
<div class="modal-body" ng-init="itemCompraEdit.load()">
    <div class="box box-primary">
        <div class="overlay" ng-show="itemCompraEdit.loading">
            <i class="fa fa-refresh fa-spin text-gray"></i>
        </div>

        <div class="box-body">

            <div class="row" ng-show="itemCompraEdit.messages.length > 0">
                <div class="col-md-12">
                    <div class="callout callout-danger">
                        <h4>@TextosPaginas.Geral_ValidarErros</h4>
                        <ul>
                            <li ng-repeat="erro in itemCompraEdit.messages">
                                <span ng-bind="erro.Mensagem"></span>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>

            <div ng-controller="GastoEditCtrl as itemGastoEdit" ng-inject="{'$uibModalInstance': null, Referencias: null, EscopoAtualizacao: itemCompraEdit}" ng-init="itemGastoEdit.ajustaItem(itemCompraEdit.itemCompra.ItemGasto)">
                <div ng-include="'Sistema/GastoEdicao'" ng-init="itemGastoEdit.load()">

                </div>
            </div>

        </div><!-- /.box-body -->

    </div>
    <div class="box" ng-if="itemCompraEdit.itemCompra.Identificador">
        <div class="box-header">
            @TextosPaginas.Compra_Itens
        </div>
        <div class="box-body" style="height:200px;overflow-y:auto">
            <table class="table-condensed " style="width:100%; ">
                <thead>
                    <tr>
                        <th class="col-xs-2">
                            @TextosPaginas.ItemCompra_Marca
                        </th>
                        <th class="col-xs-3">
                            @TextosPaginas.ItemCompra_Item
                        </th>
                        <th class="col-xs-2">
                            @TextosPaginas.ItemCompra_Valor
                        </th>
                        <th class="col-xs-3">
                            @TextosPaginas.ItemCompra_Destinatario
                        </th>                       
                        <th class="col-xs-1">

                        </th>
                        <th class="col-xs-1">

                        </th>
                    </tr>
                </thead>
                <tr ng-repeat='itemCompra in itemCompraEdit.itemCompra.ItensComprados' ng-if="!itemCompra.DataExclusao">
                    <td>
                        {{itemCompra.Marca}}
                    </td>
                    <td>
                        {{itemCompra.Descricao}}
                    </td>
                    <td>
                        {{itemCompra.Valor | number:'2'}}
                    </td>
                    <td>
                        <div ng-if="itemCompra.IdentificadorUsuario">
                            {{itemCompra.ItemUsuario.Nome}}
                        </div>
                        <div ng-if="!itemCompra.IdentificadorUsuario">
                            {{itemCompra.Destinatario}}
                        </div>
                    </td>
                    
                    <td>
                        <button type="button" class="btn btn-primary small" ng-click="itemCompraEdit.EditarCompra( itemCompra)"><span class="fa fa-pencil" aria-hidden="true"></span></button>
                        </td>
                    <td>
                        <button type="button" class="btn btn-danger small" ng-click="itemCompraEdit.RemoverItemCompra( itemCompra)"><span class="fa fa-trash" aria-hidden="true"></span></button>

                    </td>
                </tr>
            </table>
        </div>
        <div class="box-footer">
            <a role="button" class="btn-primary btn-sm pull-right" title="@TextosPaginas.Adicionar" ng-click="itemCompraEdit.AdicionarItemCompra();">
                <span class="fa fa-plus" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
<div class="modal-footer">

    <button type="button" class="btn btn-primary" ng-click="itemCompraEdit.close()">
        <span class="fa fa-close" aria-hidden="true">@TextosPaginas.Cancelar</span>
    </button>

    <button type="button" class="btn btn-primary  pull-right" ng-click="itemCompraEdit.salvar()">
        <span class="fa fa-save" aria-hidden="true"></span> @TextosPaginas.Geral_Salvar
    </button>
</div>