<section class="content-header">
    <h1>
        @TextosPaginas.Home_RelatorioGastos

    </h1>
    <ol class="breadcrumb">

        <li>@TextosPaginas.Home_Menu</li>
        <li>@TextosPaginas.Home_Consultas</li>
        <li class="active">@TextosPaginas.Home_RelatorioGastos</li>
    </ol>

</section>
<!-- Main content -->
<section class="content" ng-init="itemExtratoMoeda.load()">
    <!-- Default box -->
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="overlay" ng-show="itemExtratoMoeda.loading">
            <i class="fa fa-refresh fa-spin text-gray"></i>
        </div>

        <form role="form" ng-submit="itemExtratoMoeda.filtraDado()">
            <div class="box-body">
                <div class="row">
                    
                    <div class="form-group col-md-6">
                        <label>@TextosPaginas.AcertoConta_DataDe</label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input date-input ng-model="itemExtratoMoeda.filtro.DataInicioDe" class="form-control" input-mask="{mask: 'd/m/y'}"
                                           datapattern="dd/MM/yyyy">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="itemExtratoMoeda.filtro.DataInicioDe"
                                                data-datetimepicker-config="{  minView:'day' , langCode:itemExtratoMoeda.Idioma()  }" />
                            </ul>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>@TextosPaginas.AcertoConta_DataAte</label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input date-input ng-model="itemExtratoMoeda.filtro.DataInicioAte" class="form-control" input-mask="{mask: 'd/m/y'}"
                                           datapattern="dd/MM/yyyy">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="itemExtratoMoeda.filtro.DataInicioAte"
                                                data-datetimepicker-config="{  minView:'day' , langCode:itemExtratoMoeda.Idioma()  }" />
                            </ul>
                        </div>
                    </div>
                </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>@TextosPaginas.RelatorioGastos_Usuario</label>
                    <select ng-model="itemExtratoMoeda.itemUsuario" class="form-control" ng-options="obj.Nome for obj in itemExtratoMoeda.ListaUsuarios track by obj.Identificador">
                        <option value="">@TextosPaginas.Selecione</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>@TextosPaginas.RelatorioGastos_TipoGasto</label>
                    <select ng-model="itemExtratoMoeda.filtro.Tipo" class="form-control" >
                        <option value="">@TextosPaginas.Selecione</option>
                        <option value="A">@TextosPaginas.RelatorioGastos_Atracao</option>
                        <option value="C">@TextosPaginas.RelatorioGastos_Carro</option>
                        <option value="L">@TextosPaginas.RelatorioGastos_Compra</option>
                        <option value="VA">@TextosPaginas.RelatorioGastos_Deslocamento</option>
                        <option value="H">@TextosPaginas.RelatorioGastos_Hotel</option>
                        <option value="CR">@TextosPaginas.RelatorioGastos_Reabastecimento</option>
                        <option value="R">@TextosPaginas.RelatorioGastos_Refeicao</option>
                    </select>
                </div>
            </div>
            </div><!-- /.box-body -->
            <div class="box-footer">

                <button type="submit" class="btn btn-primary  pull-right">
                    <span class="fa fa-search" aria-hidden="true"></span> @TextosPaginas.Pesquisar
                </button>

            </div>
        </form>


    </div><!-- /.box -->



    <div class="box">
        <div class="overlay" ng-show="itemExtratoMoeda.loading">
            <i class="fa fa-refresh fa-spin text-gray"></i>
        </div>
        <div class="box-body table-responsive">
            <table class="table-condensed " style="width:100%; ">
                <thead>
                    <tr>
                        <th class="col-xs-3">
                            @TextosPaginas.RelatorioGastos_Usuario
                        </th>
                        <th class="col-xs-2">
                            @TextosPaginas.RelatorioGastos_Data
                        </th>
                        <th class="col-xs-3">
                            @TextosPaginas.RelatorioGastos_Descricao
                        </th>
                        <th class="col-xs-2">
                            @TextosPaginas.RelatorioGastos_Valor
                        </th>
                        <th class="col-xs-2">
                            @TextosPaginas.RelatorioGastos_ValorReal
                        </th>
                      
                    </tr>
                </thead>
               <tr ng-repeat='itemExtrato in itemExtratoMoeda.ListaDados'>

                    <td >
                       {{itemExtrato.NomeUsuario}}
                    </td>
                   <td>
                       {{itemExtrato.Data | date:'dd/MM/yyyy'}}
                   </td>
                   <td>
                       {{itemExtrato.Descricao}}
                   </td>
                   <td >
                       {{itemExtrato.MoedaSigla}}
                       {{itemExtrato.Valor | number:'2'}}


                   </td>

                   <td>
                       {{itemExtrato.ValorReal | number:'2'}}


                   </td>
                 
                    
                </tr>
                <tr>
                    <td><b>@TextosPaginas.RelatorioGastos_Total</b></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>{{itemExtratoMoeda.Total | number:'2'}}</b></td>
                </tr>
            </table>

        </div>
    </div>


   

</section><!-- /.content -->