<section class="content-header">
    <h1>
        @TextosPaginas.Home_Gasto

    </h1>
    <ol class="breadcrumb">

        <li>@TextosPaginas.Home_Menu</li>
        <li class="active">@TextosPaginas.Home_Gasto</li>
    </ol>

</section>
<!-- Main content -->
<section class="content" ng-init="itemGasto.load()">
    <!-- Default box -->
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="overlay" ng-show="itemGasto.loading">
            <i class="fa fa-refresh fa-spin text-gray"></i>
        </div>

            <div class="box-body">
                <div class="box collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-filter"></i>&nbsp;@TextosPaginas.Foto_Filtros</h3>

                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            @*<div class="form-group col-md-6">
                                <label>@TextosPaginas.Gasto_IdentificadorUsuario</label>
                                <select ng-model="itemGasto.itemUsuario" class="form-control" ng-options="obj.Nome for obj in itemGasto.ListaParticipantes track by obj.Identificador">
                                    <option value="">@TextosPaginas.Selecione</option>
                                </select>
                            </div>*@
                            <div class="form-group col-md-6">
                                <label>@TextosPaginas.Gasto_Descricao</label>
                                <input type="text" class="form-control" ng-model="itemGasto.filtro.Nome" maxlength="200" empty-to-null>
                            </div>
                            <div class="form-group col-md-6">
                                <label>@TextosPaginas.Foto_DataDe</label>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input date-input ng-model="itemGasto.filtro.DataInicioDe" class="form-control" input-mask="{mask: 'd/m/y'}"
                                                   datapattern="dd/MM/yyyy">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="itemGasto.filtro.DataInicioDe"
                                                        data-datetimepicker-config="{  minView:'day' , langCode:itemGasto.Idioma()  }" />
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>@TextosPaginas.Foto_DataAte</label>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input date-input ng-model="itemGasto.filtro.DataInicioAte" class="form-control" input-mask="{mask: 'd/m/y'}"
                                                   datapattern="dd/MM/yyyy">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="itemGasto.filtro.DataInicioAte"
                                                        data-datetimepicker-config="{  minView:'day' , langCode:itemGasto.Idioma()  }" />
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div><!-- /.box-body -->
                    <div class="box-footer">

                        <button class="btn btn-primary  pull-right" ng-click="itemGasto.filtraDado()">
                            <span class="fa fa-search" aria-hidden="true"></span> @TextosPaginas.Pesquisar
                        </button>

                    </div>
                </div>

                
            </div><!-- /.box-body -->
            <div class="box-footer">
                <a role="button" class="btn btn-primary " title="@TextosPaginas.Adicionar"  ng-click="itemGasto.CriarNovoGasto()">
                    <span class="fa fa-plus" aria-hidden="true"></span>
                </a>
               

            </div>

    </div><!-- /.box -->

    <div class="box">
        <div class="overlay" ng-show="itemGasto.loading">
            <i class="fa fa-refresh fa-spin text-gray"></i>
        </div>
        <div ng-repeat='item in itemGasto.ListaDados' >
            <div   class="box " ng-class="{ 'collapsed-box': item.Identificador }" class-validation ng-controller="GastoEditCtrl as itemGastoEdit" ng-inject="{'$uibModalInstance': null, Referencias: null, EscopoAtualizacao: itemGasto}">
                <div class="overlay" ng-show="itemGastoEdit.loading">
                    <i class="fa fa-refresh fa-spin text-gray"></i>
                </div>

                <div class="box-header with-border" ng-init="itemGastoEdit.ajustaItem(item)">
                    <a data-widget="collapse" data-toggle="tooltip" ng-click="itemGastoEdit.load()" style="cursor:pointer">
                        <i class="fa fa-plus" ng-class="{ 'fa-minus': !item.Identificador }"></i>


                        <h3 class="box-title">{{item.Descricao}}</h3>

                    </a>

                </div>

                <div ng-include="'Sistema/GastoEdicao'">

                </div>


                <div class="box-footer">

                    <a role="button" class="btn btn-primary pull-right" title="@TextosPaginas.Geral_Salvar" ng-click="itemGastoEdit.salvar()">
                        <span class="fa fa-save" aria-hidden="true"></span>
                    </a>

                    <a role="button" class="btn btn-primary pull-right" title="@TextosPaginas.Excluir" ng-click="itemGastoEdit.VerificarExclusao()" ng-if="itemGastoEdit.itemGasto.Identificador">
                        <span class="fa fa-trash-o" aria-hidden="true"></span>
                    </a>

                    <a role="button" class="btn btn-primary pull-right" title="@TextosPaginas.Posicao" ng-click="itemGastoEdit.abrirMapa()">
                        <span class="fa fa-map-marker" aria-hidden="true"></span>
                    </a>

                </div>
            </div>

        </div>


    </div>

    <script type="text/ng-template" id="modalDelete.html">
        <div class="modal-header">
            <span>{{vmDelete.MensagemConfirmacao}}</span>
        </div>
        <div class="modal-body">
            <button type="button" class="btn btn-info btn-lg btn-block" ng-click="vmDelete.confirmar()">{{vmDelete.TextoBotaoOK}}</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-click="vmDelete.close()">{{vmDelete.TextoBotaoCancel}}</button>
        </div>
    </script>

    <script type="text/ng-template" id="modalMapa.html">
        <div class="modal-body">
            <div class="box-body">

                <div class="row">
                    <div class="form-group  col-sm-8">
                        <label>@TextosPaginas.Posicao_Endereco</label>
                        <input places-auto-complete size=80
                               class="form-control"
                               ng-model="vmMapa.itemEndereco"
                               on-place-changed="vmMapa.selecionarEndereco()"  /> 
                    </div>
                    <div class="form-group  col-sm-2">
                        <label>&nbsp;</label>
                        <button class="btn btn-primary btn-block " ng-click="vmMapa.centralizarEndereco()">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="form-group  col-sm-2">
                        <label>&nbsp;</label>
                        <button class="btn btn-primary btn-block" ng-click="vmMapa.limparPosicao()">
                            <span class="fa fa-unlink" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <ng-map zoom="13"
                    center="[{{vmMapa.lat}}, {{vmMapa.lng}}]" on-click="vmMapa.ajustaPosicao()">
                <marker ng-if="vmMapa.itemMarcador.Latitude && vmMapa.itemMarcador.Longitude" position="{{vmMapa.itemMarcador.Latitude}}, {{vmMapa.itemMarcador.Longitude}}"></marker>
            </ng-map>
        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-primary  pull-right" ng-click="vmMapa.salvar()">
                <span class="fa fa-cloud-upload" aria-hidden="true"></span> @TextosPaginas.Geral_Salvar
            </button>
            <button type="button" class="btn btn-primary" ng-click="vmMapa.close()">
                <span class="fa fa-close" aria-hidden="true">@TextosPaginas.Cancelar</span>
            </button>
        </div>
    </script>

</section><!-- /.content -->