<section class="content-header">
    <h1>
        @TextosPaginas.Home_Loja

    </h1>
    <ol class="breadcrumb">

        <li>@TextosPaginas.Home_Menu</li>
        <li class="active">@TextosPaginas.Home_Loja</li>
    </ol>

</section>
<!-- Main content -->
<section class="content" ng-init="itemLoja.load()">
    <!-- Default box -->
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="overlay" ng-show="itemLoja.loading">
            <i class="fa fa-refresh fa-spin text-gray"></i>
        </div>

        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-filter"></i>&nbsp;@TextosPaginas.Foto_Filtros</h3>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">

                    <div class="form-group col-md-12">
                        <label>@TextosPaginas.Refeicao_Nome</label>
                        <input type="text" class="form-control" ng-model="itemLoja.filtro.Nome" maxlength="100" empty-to-null>
                    </div>

                    <div class="form-group col-md-3">
                        <label>@TextosPaginas.Foto_DataDe</label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input date-input ng-model="itemLoja.filtro.DataInicioDe" class="form-control" input-mask="{mask: 'd/m/y'}"
                                           datapattern="dd/MM/yyyy">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="itemLoja.filtro.DataInicioDe"
                                                data-datetimepicker-config="{  minView:'day' , langCode:itemLoja.Idioma()  }" />
                            </ul>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>@TextosPaginas.Foto_DataAte</label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input date-input ng-model="itemLoja.filtro.DataInicioAte" class="form-control" input-mask="{mask: 'd/m/y'}"
                                           datapattern="dd/MM/yyyy">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="itemLoja.filtro.DataInicioAte"
                                                data-datetimepicker-config="{  minView:'day' , langCode:itemLoja.Idioma()  }" />
                            </ul>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label>@TextosPaginas.Foto_IdentificadorCidade</label>
                        <select ng-model="itemLoja.itemCidade" class="form-control" ng-options="obj.Nome for obj in itemLoja.ListaCidades track by obj.Identificador">
                            <option value="">@TextosPaginas.Selecione</option>
                        </select>
                    </div>

                </div>




            </div><!-- /.box-body -->
            <div class="box-footer">


                <button class="btn btn-primary  pull-right" ng-click="itemLoja.filtraDado()">
                    <span class="fa fa-search" aria-hidden="true"></span> @TextosPaginas.Pesquisar
                </button>

            </div>
        </div>

        <div class="box-footer">
            <a role="button" class="btn btn-primary " title="@TextosPaginas.Adicionar" ng-click="itemLoja.CriarNovaLoja()">
                <span class="fa fa-plus" aria-hidden="true"></span>
            </a>
        </div>
    </div><!-- /.box -->



    <div class="box">
        <div class="overlay" ng-show="itemLoja.loading">
            <i class="fa fa-refresh fa-spin text-gray"></i>
        </div>
        <div ng-repeat='item in itemLoja.ListaDados' class="box " ng-class="{ 'collapsed-box': item.Identificador }" class-validation ng-controller="LojaEditCtrl as itemEdit">
            <div class="overlay" ng-show="itemEdit.loading">
                <i class="fa fa-refresh fa-spin text-gray"></i>
            </div>

            <div class="box-header with-border">
                <a data-widget="collapse" data-toggle="tooltip" ng-click="itemEdit.load(item)" style="cursor:pointer">
                    <i class="fa fa-plus" ng-class="{ 'fa-minus': !item.Identificador }"></i>


                    <h3 class="box-title">{{item.Nome}}</h3>

                </a>
            </div>

            <div class="box-body" ng-init="itemEdit.ajustaInicio(item)">

                <div class="row" ng-show="itemEdit.messages.length > 0">
                    <div class="col-md-12">
                        <div class="callout callout-danger">
                            <h4>@TextosPaginas.Geral_ValidarErros</h4>
                            <ul>
                                <li ng-repeat="erro in itemEdit.messages">
                                    <span ng-bind="erro.Mensagem"></span>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>

                <div class="row">
                    @*<div class="col-md-6">
                            <label>@TextosPaginas.Refeicao_EnderecoBase</label>
                            <input type="text" class="form-control" ng-model="item.Endereco" maxlength="100" empty-to-null>

                        </div>*@
                    <div class="col-md-6">
                        <label>@TextosPaginas.Loja_Nome</label>
                        <input type="text" class="form-control" ng-model="itemEdit.itemLoja.Nome" maxlength="100" empty-to-null ng-if="(!itemEdit.itemLoja.Latitude || !itemEdit.itemLoja.Longitude) && !itemEdit.position.lat">
                        <input ng-if="(itemEdit.itemLoja.Latitude && itemEdit.itemLoja.Longitude) || itemEdit.position.lat" type="text" ng-model="itemEdit.itemLoja.Nome" uib-typeahead="address.name for address in itemEdit.CarregarDadosGoogleApi($viewValue) " typeahead-loading="itemEdit.loadingLocations" class="form-control" typeahead-on-select="itemEdit.SelecionarPlacesGoogle($item, $model, $label)">

                    </div>
                    <div class="col-md-6">
                        <label>@TextosPaginas.Loja_IdentificadorAtracao</label>
                        <select ng-model="itemEdit.itemLoja.ItemAtracao" class="form-control" ng-options="obj.Nome for obj in itemEdit.ListaAtracao() track by obj.Identificador">
                            <option value="">@TextosPaginas.Selecione</option>
                        </select>
                    </div>
       
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>@TextosPaginas.Loja_Compradores</label>
                    </div>
                </div>
                <div class="row" ng-repeat='itemParticipante in itemEdit.ListaParticipante'>
                    <div class="col-md-12">
                        <div class="form-inline">
                            <label ng-repeat='itemParticipante in itemEdit.ListaParticipante' class="radio">
                                <input type="checkbox" ng-model="itemParticipante.Selecionado">
                                <label style="padding-top:5px">
                                    {{itemParticipante.Nome}}
                                </label>
                            </label>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" ng-if="itemEdit.VerificarVisitoLoja()">
                        <label>@TextosPaginas.Refeicao_Nota</label>
                        <div star-rating ng-model="itemEdit.ItemAvaliacao.Nota" max="5"></div>
                    </div>
                    <div class="col-md-12" ng-if="itemEdit.VerificarVisitoLoja()">
                        <label>@TextosPaginas.Refeicao_Comentario</label>
                        <textarea class="form-control" rows="5" ng-model="itemEdit.ItemAvaliacao.Comentario"></textarea>

                    </div>
                </div>
                <div class="row" ng-show="item.Identificador">
                    <div class="col-xs-12">

                        <div class="box">
                            <div class="box-header">
                                @TextosPaginas.Gasto_Compras
                            </div>
                            <div class="box-body" style="height:160px;overflow-y:auto">
                                <table class="table-condensed " style="width:100%; ">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-2">
                                                @TextosPaginas.Gasto_IdentificadorUsuario
                                            </th>
                                            <th class="col-xs-3">
                                                @TextosPaginas.Gasto_Descricao
                                            </th>
                                            <th class="col-xs-2">
                                                @TextosPaginas.Gasto_Data
                                            </th>
                                            <th class="col-xs-2">
                                                @TextosPaginas.Gasto_Moeda
                                            </th>
                                            <th class="col-xs-2">
                                                @TextosPaginas.Gasto_Valor
                                            </th>
                                            
                                            <th class="col-xs-1">

                                            </th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat='itemCusto in itemEdit.itemLoja.Compras' ng-if="!itemCusto.DataExclusao && itemEdit.loggedUser.Codigo == itemCusto.ItemGasto.IdentificadorUsuario">
                                        <td>
                                            {{itemCusto.ItemGasto.ItemUsuario.Nome}}
                                        </td>
                                        <td>
                                            {{itemCusto.ItemGasto.Descricao}}
                                        </td>
                                        <td>
                                            {{itemCusto.ItemGasto.Data | date:'dd/MM/yyyy'}}
                                        </td>
                                        <td>
                                            {{itemCusto.ItemGasto.MoedaSigla}}
                                        </td>
                                        <td>
                                            {{itemCusto.ItemGasto.Valor | number:'2'}}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary small" ng-click="itemEdit.EditarCompra( itemCusto)"><span class="fa fa-pencil" aria-hidden="true"></span></button>

                                            <button type="button" class="btn btn-danger small" ng-click="itemEdit.RemoverCusto( itemCusto)"><span class="fa fa-trash" aria-hidden="true"></span></button>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="box-footer">
                                <a role="button" class="btn-primary btn-sm pull-right" title="@TextosPaginas.Adicionar" ng-click="itemEdit.AdicionarCompra();">
                                    <span class="fa fa-plus" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="box-footer">

                <a role="button" class="btn btn-primary pull-right" title="@TextosPaginas.Geral_Salvar" ng-click="itemEdit.save()">
                    <span class="fa fa-save" aria-hidden="true"></span>
                </a>

                <a role="button" class="btn btn-primary pull-right" title="@TextosPaginas.Excluir" ng-click="itemEdit.VerificarExclusao()">
                    <span class="fa fa-trash-o" aria-hidden="true"></span>
                </a>

                <a role="button" class="btn btn-primary pull-right" title="@TextosPaginas.Posicao" ng-click="itemEdit.SelecionarPosicao()">
                    <span class="fa fa-map-marker" aria-hidden="true"></span>
                </a>

            </div>
        </div>


    </div>


    <script type="text/ng-template" id="modalDelete.html">
        <div class="modal-header">
            <span>{{vmDelete.MensagemConfirmacao}}</span>
        </div>
        <div class="modal-body">
            <button type="button" class="btn btn-info btn-lg btn-block" ng-click="vmDelete.confirmar()">{{vmDelete.TextoBotaoOK}}</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-click="vmDelete.close()">{{vmDelete.TextoBotaoCancel}}</button>
        </div>
    </script>

    <script type="text/ng-template" id="modalMapa.html">
        <div class="modal-body">
            <div class="box-body">

                <div class="row">
                    <div class="form-group  col-sm-8">
                        <label>@TextosPaginas.Posicao_Endereco</label>
                        <input places-auto-complete size=80
                               class="form-control"
                               ng-model="vmMapa.itemEndereco"
                               on-place-changed="vmMapa.selecionarEndereco()"  /> 
                    </div>
                    <div class="form-group  col-sm-2">
                        <label>&nbsp;</label>
                        <button class="btn btn-primary btn-block " ng-click="vmMapa.centralizarEndereco()">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="form-group  col-sm-2">
                        <label>&nbsp;</label>
                        <button class="btn btn-primary btn-block" ng-click="vmMapa.limparPosicao()">
                            <span class="fa fa-unlink" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <ng-map zoom="13"
                    center="[{{vmMapa.lat}}, {{vmMapa.lng}}]" on-click="vmMapa.ajustaPosicao()">
                <marker ng-if="vmMapa.itemMarcador.Latitude && vmMapa.itemMarcador.Longitude" position="{{vmMapa.itemMarcador.Latitude}}, {{vmMapa.itemMarcador.Longitude}}"></marker>
            </ng-map>
        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-primary  pull-right" ng-click="vmMapa.salvar()">
                <span class="fa fa-cloud-upload" aria-hidden="true"></span> @TextosPaginas.Geral_Salvar
            </button>
            <button type="button" class="btn btn-primary" ng-click="vmMapa.close()">
                <span class="fa fa-close" aria-hidden="true">@TextosPaginas.Cancelar</span>
            </button>
        </div>
    </script>


</section><!-- /.content -->