<section class="content-header">
    <h1>
        @TextosPaginas.Home_PedidoCompra

    </h1>
    <ol class="breadcrumb">

        <li>@TextosPaginas.Home_Menu</li>
        <li class="active">@TextosPaginas.Home_PedidoCompra</li>
    </ol>

</section>
<!-- Main content -->
<section class="content" ng-init="itemListaCompra.load()">
    <!-- Default box -->
    <!-- general form elements -->

              <div class="box box-primary">
                <div class="overlay" ng-show="itemListaCompra.loading">
                    <i class="fa fa-refresh fa-spin text-gray"></i>
                </div> 
                <div class="box-body">
                    <div class="row">
                       
                        <div class="form-group col-md-6">
                            <label>@TextosPaginas.ListaCompra_Marca</label>
                            <input type="text" class="form-control" ng-model="itemListaCompra.filtro.Tipo" maxlength="50" empty-to-null>
                        </div>
                        <div class="form-group col-md-6">
                            <label>@TextosPaginas.ListaCompra_Descricao</label>
                            <input type="text" class="form-control" ng-model="itemListaCompra.filtro.Comentario" maxlength="50" empty-to-null>
                        </div>
                        <div class="form-group col-md-6">
                            <label>@TextosPaginas.ListaCompra_PedirPara</label>
                            <select ng-model="itemListaCompra.itemUsuario" class="form-control" ng-options="obj.Nome for obj in itemListaCompra.ListaUsuario track by obj.Identificador">
                                <option value="">@TextosPaginas.Selecione</option>
                            </select>
                        </div>


                    </div>
                </div><!-- /.box-body -->           
                <div class="box-footer">
                    <a role="button" class="btn btn-primary " title="@TextosPaginas.Adicionar" ng-click="itemListaCompra.AdicionarListaCompra()">
                        <span class="fa fa-plus" aria-hidden="true"></span>
                    </a>
                    <button type="submit" class="btn btn-primary  pull-right" ng-click="itemListaCompra.filtraDado()">
                        <span class="fa fa-search" aria-hidden="true"></span> @TextosPaginas.Pesquisar
                    </button>
                </div>

                <div class="box">
                    <div class="overlay" ng-show="itemListaCompra.loading">
                        <i class="fa fa-refresh fa-spin text-gray"></i>
                    </div>
                    <div class="box-body table-responsive">
                        <div class="gridStyle" ui-grid="itemListaCompra.gridOptions" ></div>

                    </div>
                </div>

            </div><!-- /.box -->



    <script type="text/ng-template" id="modalDelete.html">
        <div class="modal-header">
            <span>{{vmDelete.MensagemConfirmacao}}</span>
        </div>
        <div class="modal-body">
            <button type="button" class="btn btn-info btn-lg btn-block" ng-click="vmDelete.confirmar()">{{vmDelete.TextoBotaoOK}}</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-click="vmDelete.close()">{{vmDelete.TextoBotaoCancel}}</button>
        </div>
    </script>


    <script type="text/ng-template" id="BotoesGridTemplate.html">

        <div class="ngCellText hidden-xs">
            <button type="button"  class="btn btn-primary small" title="@TextosPaginas.Editar" ng-click="grid.appScope.EditarListaCompra(row.entity)"><span class="fa fa-pencil" aria-hidden="true"></span></button>
            <button type="button"  class="btn btn-danger small" title="@TextosPaginas.Excluir" ng-click="grid.appScope.VerificarExclusao(row.entity)"><span class="fa fa-trash" aria-hidden="true"></span></button>

        </div>


    </script>

  
</section><!-- /.content -->